h1 {
  margin: 5px;
}

.object {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.object-header {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.object-body {
  height: 90%;
  padding: 30px 0px 200px 0px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.obyekt__info {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: blue;
}
.obyekt__btn {
  margin: 20px 5px;
}
.obektName {
  margin: 30px;
}
.obektName Input {
  padding: 5px;
  width: 60vw;
}
.creatObject__info {
  margin: 8rem auto;
  width: 80vw;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.CreatObject__data {
  display: flex;
  padding: 9px;
  margin: 3px;
  justify-content: center;
}
.ssc span label {
  margin: 0 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
