.title{
    margin: 10px 0px 20px 0px;
  }
  
  .contract {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contract-header {
    height: 10%;
    display: flex;
    justify-content: space-between;
  }
  
  .contract-body{
      height: 90%;
      padding: 30px 0px 200px 0px;
  }

  .icon {
    font-size: 20px !important;
    cursor: pointer;
  }
  
  .icon:hover{
    transform: scale(1.2);
  }
  
  .download-icon {
    color: limegreen;
  }
  
  .print-icon {
    color: rgb(23, 114, 252);
  }
  
  .upload-icon {
    color: red;
  }
  