h1 {
  margin: 5px;
}

.type {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.type-header {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.type-body {
  height: 90%;
  padding: 30px 0px 200px 0px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.icon {
  font-size: 20px !important;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
}

.download-icon {
  color: limegreen;
}

.print-icon {
  color: rgb(23, 114, 252);
}

.upload-icon {
  color: red;
}
.typeNumber{
  display: flex;
  justify-content: space-evenly;
}
.typeObject__Info{
  width: 50vw;
  padding: 10px;
}
.object__number{
  width: 12vw;
  padding: 5px;
}

.typeObject__info{
  display: flex;
  margin: 8rem auto;
  justify-content: center;
}
.typeObject__btn{
  display: flex;
 
  margin:0 1rem;
  
}