.type {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.type-header {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.type-body{
    height: 90%;
    padding: 30px 0px 200px 0px;
}

.download-icon,
.print-icon,
.upload-icon {
  font-size: 20px !important;
}

.download-icon {
  color: limegreen;
}

.print-icon {
  color: rgb(23, 114, 252);
}

.upload-icon {
  color: red;
}
