.NameInfo
{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    gap: 2px;
  
}
.shartnoma__info h3{
    display: flex;
    justify-content: center;
    color: #1890ff;
        text-shadow: 0 0 .25px currentcolor;
        font-weight: 400;
}
.checout__btn{
    margin-top: 24px;
}
.checout__btn button{
    margin: 14px 0;
}
.object__numbers {
    width: 9vw;
    padding: 5px;
}
.object__manzil, .form-control{
    width: 18vw;
        padding: 9px !important;
}
.shartnomaObject__info{
    display: flex;
        margin: 4rem auto;
        justify-content: center;
}