.NameInfo
{
    display: flex;
    justify-content: space-between;

  
}
.shartnoma__info h3, .obyekt__info{
    display: flex;
    justify-content: center;
    color: #1890ff;
    text-shadow: 0 0 .25px currentcolor;
    font-weight: 400;
    font-family: 'Roboto';
        font-style: normal;
      font-size: 2rem;
}
.object__numbers {
    
    padding: 5px;
}
.object_tel{
width: 20rem ;
}
.object__manzil ,.form-control{
    width: 25vw !important;
        padding: 14px;
}
.form-controls{
    width: 23vw !important;
        padding: 16px;
}
.shartnomaObject__info{
    display: flex;
       width: 100vw; 
       margin: 0 auto;
}
.dssds{
    border: none;
    padding: 16px 0;
}
.box-info{
    margin: 0 20px;
}
.box-info span label{
    margin: 0 10px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        
}