::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(190, 190, 190);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(23, 115, 252);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 115, 252, 0.5);
}

::-webkit-scrollbar:horizontal{
  height: 8px;
  /* background-color: red; */
}

::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 0 0 5px rgb(190, 190, 190);
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
